 
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix 

*.code-workspace

 
*target*
*.war
*.ear
*.class
*.backup
*.kate-swp
*.old
.directory
.project
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.lnk
*.pydevproject

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# notes to self, because I always forget
# a bash function for doing quick gitHub updates
#  cupdate() {  git add . ; git commit -m "quick code update" ; git push origin main ; } 

# I always forget this one when resetting the .gitignore (dont forget the dot at the end)
#  git rm -r --cached . 

# shows the files that have changed and need to be staged and commited
#  git ls-files --others --exclude-standard

# list by only name$  ls -1a

# bash script to do a quick sync